In [1]:
from flask import Flask, render_template, jsonify
from pymongo import MongoClient
import sys, json
from bson import json_util
from bson.json_util import dumps
import pandas as pd
import time
import requests as req
import time
import datetime
import os 

MONGODB_URI = os.environ.get('MONGODB_URI')
if not MONGODB_URI:
    MONGODB_URI = "mongodb://mike:blahblah@ds113169.mlab.com:13169/t3st"

connection = MongoClient(MONGODB_URI).get_database()

##########################################################################
####################  Creating the Database  #############################
##########################################################################
url = "https://data.austintexas.gov/resource/r3af-2r8x.json?$limit=1000&$offset=0"

In [2]:
traffic_response = req.get(url)
traffic_json = traffic_response.json()
time.sleep(1)

In [3]:
# append json into DataFrame
df = pd.DataFrame(traffic_json)
time.sleep(1)

In [4]:
# Selecting specific columns needed
clean_df = df[['address','issue_reported','location_latitude', 'location_longitude', 'published_date']]

In [5]:
# Drop any NAN values and append to a list
dropped = clean_df.dropna()
newdate = dropped.loc[0:, 'published_date']
listy = []
for i in newdate:
    listy.append(i[0:10])
time.sleep(1)

In [6]:
#  delete old values for published_date and pass in new list to published_date column
xyz = dropped.drop('published_date', axis=1)
xyz['published_date'] = listy
time.sleep(1)

In [7]:
data = json_util.loads(xyz.to_json(orient='records'))
db = connection.db
time.sleep(1)
austinData = db.austinData
posts_id = austinData.collection.insert_many(data)



FIELDS = {'_id': False, 'address': True, 'issue_reported': True, 'location_latitude': True, 'location_longitude': True, 'published_date': True}

In [8]:
issues = austinData.collection.find(projection=FIELDS)
df = pd.DataFrame(list(issues))
top10=df[['issue_reported','location_latitude']].groupby(['issue_reported']).count().sort_values('location_latitude',ascending=False)[:10].reset_index().rename(columns={'Location':'Num Incidents'})
json = top10.reset_index(drop=True)
dictionary = json.to_dict(orient='records')
print(dictionary)

[{'issue_reported': 'Traffic Hazard', 'location_latitude': 600}, {'issue_reported': 'Crash Urgent', 'location_latitude': 424}, {'issue_reported': 'Crash Service', 'location_latitude': 342}, {'issue_reported': 'Traffic Impediment', 'location_latitude': 188}, {'issue_reported': 'TRFC HAZD/ DEBRIS', 'location_latitude': 108}, {'issue_reported': 'COLLISION', 'location_latitude': 102}, {'issue_reported': 'zSTALLED VEHICLE', 'location_latitude': 80}, {'issue_reported': 'COLLISION WITH INJURY', 'location_latitude': 62}, {'issue_reported': 'LOOSE LIVESTOCK', 'location_latitude': 30}, {'issue_reported': 'COLLISN/ LVNG SCN', 'location_latitude': 26}]

In [9]:
json

          issue_reported  location_latitude
0         Traffic Hazard                600
1           Crash Urgent                424
2          Crash Service                342
3     Traffic Impediment                188
4      TRFC HAZD/ DEBRIS                108
5              COLLISION                102
6       zSTALLED VEHICLE                 80
7  COLLISION WITH INJURY                 62
8        LOOSE LIVESTOCK                 30
9      COLLISN/ LVNG SCN                 26

In [10]:
issues = austinData.collection.find(projection=FIELDS)
df = pd.DataFrame(list(issues))
top10=df[['published_date','issue_reported']].groupby(['published_date']).count()

In [11]:
# top10['published_date'].str.replace('-',', ')
df['published_date'] = df['published_date'].str.replace('-',', ')
top10=df[['published_date','issue_reported']].groupby(['published_date']).count()

In [12]:
top10

                issue_reported
published_date
2017, 09, 26                20
2017, 09, 27                80
2017, 09, 28               162
2017, 09, 29               144
2017, 09, 30                58
2017, 10, 01                64
2017, 10, 02                62
2017, 10, 03               100
2017, 10, 04                48
2017, 10, 05                34
2017, 10, 06                66
2017, 10, 07                28
2017, 10, 08                18
2017, 10, 09                46
2017, 10, 10                16
2017, 10, 11                 6
2017, 10, 12                86
2017, 10, 13               148
2017, 10, 14               114
2017, 10, 15                94
2017, 10, 16               118
2017, 10, 17               124
2017, 10, 18                66
2017, 12, 01                18
2017, 12, 15                24
2018, 01, 23                42
2018, 01, 24                 4
2018, 02, 05                 8
2018, 02, 09                 4
2018, 02, 23               104
2018, 02, 24                72

In [32]:
issues = austinData.collection.find(projection=FIELDS)
df = pd.DataFrame(list(issues))
df['published_date'] = df['published_date'].str.replace('-',', ')
calendar=df[['published_date','issue_reported']].groupby(['published_date']).count().rename(columns={'Location':'Num Incidents'})
json = calendar.reset_index()
dictionary = json.to_dict(orient='records')

In [33]:
dictionary

[{'issue_reported': 10, 'published_date': '2017, 09, 26'},
 {'issue_reported': 40, 'published_date': '2017, 09, 27'},
 {'issue_reported': 81, 'published_date': '2017, 09, 28'},
 {'issue_reported': 72, 'published_date': '2017, 09, 29'},
 {'issue_reported': 29, 'published_date': '2017, 09, 30'},
 {'issue_reported': 32, 'published_date': '2017, 10, 01'},
 {'issue_reported': 31, 'published_date': '2017, 10, 02'},
 {'issue_reported': 50, 'published_date': '2017, 10, 03'},
 {'issue_reported': 24, 'published_date': '2017, 10, 04'},
 {'issue_reported': 17, 'published_date': '2017, 10, 05'},
 {'issue_reported': 33, 'published_date': '2017, 10, 06'},
 {'issue_reported': 14, 'published_date': '2017, 10, 07'},
 {'issue_reported': 9, 'published_date': '2017, 10, 08'},
 {'issue_reported': 23, 'published_date': '2017, 10, 09'},
 {'issue_reported': 8, 'published_date': '2017, 10, 10'},
 {'issue_reported': 3, 'published_date': '2017, 10, 11'},
 {'issue_reported': 43, 'published_date': '2017, 10, 12'},
 {'issue_reported': 74, 'published_date': '2017, 10, 13'},
 {'issue_reported': 57, 'published_date': '2017, 10, 14'},
 {'issue_reported': 47, 'published_date': '2017, 10, 15'},
 {'issue_reported': 59, 'published_date': '2017, 10, 16'},
 {'issue_reported': 62, 'published_date': '2017, 10, 17'},
 {'issue_reported': 33, 'published_date': '2017, 10, 18'},
 {'issue_reported': 9, 'published_date': '2017, 12, 01'},
 {'issue_reported': 12, 'published_date': '2017, 12, 15'},
 {'issue_reported': 21, 'published_date': '2018, 01, 23'},
 {'issue_reported': 2, 'published_date': '2018, 01, 24'},
 {'issue_reported': 4, 'published_date': '2018, 02, 05'},
 {'issue_reported': 2, 'published_date': '2018, 02, 09'},
 {'issue_reported': 52, 'published_date': '2018, 02, 23'},
 {'issue_reported': 36, 'published_date': '2018, 02, 24'}]

In [30]:
calendar.head()

                issue_reported
published_date
2017, 09, 26                10
2017, 09, 27                40
2017, 09, 28                81
2017, 09, 29                72
2017, 09, 30                29

In [31]:
json

   published_date  issue_reported
0    2017, 09, 26              10
1    2017, 09, 27              40
2    2017, 09, 28              81
3    2017, 09, 29              72
4    2017, 09, 30              29
5    2017, 10, 01              32
6    2017, 10, 02              31
7    2017, 10, 03              50
8    2017, 10, 04              24
9    2017, 10, 05              17
10   2017, 10, 06              33
11   2017, 10, 07              14
12   2017, 10, 08               9
13   2017, 10, 09              23
14   2017, 10, 10               8
15   2017, 10, 11               3
16   2017, 10, 12              43
17   2017, 10, 13              74
18   2017, 10, 14              57
19   2017, 10, 15              47
20   2017, 10, 16              59
21   2017, 10, 17              62
22   2017, 10, 18              33
23   2017, 12, 01               9
24   2017, 12, 15              12
25   2018, 01, 23              21
26   2018, 01, 24               2
27   2018, 02, 05               4
28   2018, 02, 09               2
29   2018, 02, 23              52
30   2018, 02, 24              36