In [2]:
def json_scrape():
    url = "https://data.austintexas.gov/resource/r3af-2r8x.json?$limit=50000&$offset=0"

    # get the json from austin data api
    traffic_response = req.get(url)
    traffic_json = traffic_response.json()
    time.sleep(1)

    # append json into DataFrame
    df = pd.DataFrame(traffic_json)
    time.sleep(1)

    # Selecting specific columns needed
    clean_df = df[['address','issue_reported','location_latitude', 'location_longitude', 'published_date']]

    # Drop any NAN values and append to a list
    dropped = clean_df.dropna()
    newdate = dropped.loc[0:, 'published_date']
    listy = []
    for i in newdate:
        listy.append(i[0:10])
    time.sleep(1)

    #  delete old values for published_date and pass in new list to published_date column
    xyz = dropped.drop('published_date', axis=1)
    xyz['published_date'] = listy
    time.sleep(1)

    return xyz

In [3]:
from flask import Flask, render_template, jsonify
from flask_pymongo import PyMongo
import os
import time
import datetime
import json, sys
import pandas as pd
import requests as req
from bson import json_util
import numpy as np
import re

In [4]:
df = pd.DataFrame(json_scrape())
df.head()

,address,issue_reported,location_latitude,location_longitude,published_date
0,15436 Fm 1825 Rd,Crash Urgent,30.447823,-97.662267,2018-02-05
1,N Mopac Expy Svrd Sb & W Anderson Ln,Traffic Hazard,30.361209,-97.745268,2017-12-01
2,W William Cannon Dr & Brodie Ln,Crash Service,30.213794,-97.830349,2018-01-23
3,1800 E Stassney Ln,Traffic Hazard,30.196998,-97.760701,2018-01-24
4,2453 E SH 71 SVRD WB,Crash Service,30.213473,-97.659149,2017-12-15

In [5]:
df['published_date'] = df['published_date'].str.replace('-',',')

In [8]:
df['published_date'] = df['published_date'].str.replace(',','')

In [9]:
df.head()

,address,issue_reported,location_latitude,location_longitude,published_date
0,15436 Fm 1825 Rd,Crash Urgent,30.447823,-97.662267,20180205
1,N Mopac Expy Svrd Sb & W Anderson Ln,Traffic Hazard,30.361209,-97.745268,20171201
2,W William Cannon Dr & Brodie Ln,Crash Service,30.213794,-97.830349,20180123
3,1800 E Stassney Ln,Traffic Hazard,30.196998,-97.760701,20180124
4,2453 E SH 71 SVRD WB,Crash Service,30.213473,-97.659149,20171215

In [10]:
df_date = df.sort_values('published_date')
df_date.head()

,address,issue_reported,location_latitude,location_longitude,published_date
551,E CESAR CHAVEZ ST & TILLERY ST,Crash Urgent,30.2517111,-97.7087842,20170926
252,5800 S Ih 35 Sb,Traffic Hazard,30.1969472,-97.7655666,20170926
336,11000 Fm 2222 Rd,Crash Service,30.3966315,-97.8487281,20170926
366,14100 Mc Neil Rd,TRFC HAZD/ DEBRIS,30.4539975,-97.723598,20170926
462,7709 E Ben White Blvd Svrd Eb,Traffic Hazard,30.2182734,-97.6899232,20170926

In [11]:
df_date[["published_date"]] = df_date[["published_date"]].astype(int)
df_date.head()

,address,issue_reported,location_latitude,location_longitude,published_date
551,E CESAR CHAVEZ ST & TILLERY ST,Crash Urgent,30.2517111,-97.7087842,20170926
252,5800 S Ih 35 Sb,Traffic Hazard,30.1969472,-97.7655666,20170926
336,11000 Fm 2222 Rd,Crash Service,30.3966315,-97.8487281,20170926
366,14100 Mc Neil Rd,TRFC HAZD/ DEBRIS,30.4539975,-97.723598,20170926
462,7709 E Ben White Blvd Svrd Eb,Traffic Hazard,30.2182734,-97.6899232,20170926

In [12]:
df_bins = [20170925, 20171031, 20171130, 20171231, 20180131, 20180228, 20180331]
df_labels = ["October_2017", "November_2017", "December_2017", "January_2018", "February_2018", "March_2018"]
df_date["month"] = pd.cut(df_date["published_date"], df_bins, labels=df_labels)

In [13]:
df_date.head()

,address,issue_reported,location_latitude,location_longitude,published_date,month
551,E CESAR CHAVEZ ST & TILLERY ST,Crash Urgent,30.2517111,-97.7087842,20170926,October_2017
252,5800 S Ih 35 Sb,Traffic Hazard,30.1969472,-97.7655666,20170926,October_2017
336,11000 Fm 2222 Rd,Crash Service,30.3966315,-97.8487281,20170926,October_2017
366,14100 Mc Neil Rd,TRFC HAZD/ DEBRIS,30.4539975,-97.723598,20170926,October_2017
462,7709 E Ben White Blvd Svrd Eb,Traffic Hazard,30.2182734,-97.6899232,20170926,October_2017

In [14]:
df_date[["published_date"]] = df_date[["published_date"]].astype(str)

In [15]:
df_date.head()

,address,issue_reported,location_latitude,location_longitude,published_date,month
551,E CESAR CHAVEZ ST & TILLERY ST,Crash Urgent,30.2517111,-97.7087842,20170926,October_2017
252,5800 S Ih 35 Sb,Traffic Hazard,30.1969472,-97.7655666,20170926,October_2017
336,11000 Fm 2222 Rd,Crash Service,30.3966315,-97.8487281,20170926,October_2017
366,14100 Mc Neil Rd,TRFC HAZD/ DEBRIS,30.4539975,-97.723598,20170926,October_2017
462,7709 E Ben White Blvd Svrd Eb,Traffic Hazard,30.2182734,-97.6899232,20170926,October_2017

In [16]:
group_df = df_date.groupby(["month"])
group_ct = group_df["issue_reported"].count()

In [17]:
groups_df = df_date.groupby(["month","issue_reported"])
groups_ct = groups_df["issue_reported"].count()

In [1]:
total = group_ct.to_dict()
json = jsonify(total)

NameError: name 'group_ct' is not defined

In [142]:
totals = groups_ct.to_dict()
totals

{('December_2017', 'BLOCKED DRIV/ HWY'): 6,
 ('December_2017', 'COLLISION'): 173,
 ('December_2017', 'COLLISION WITH INJURY'): 87,
 ('December_2017', 'COLLISION/PRIVATE PROPERTY'): 5,
 ('December_2017', 'COLLISN/ LVNG SCN'): 28,
 ('December_2017', 'Crash Service'): 402,
 ('December_2017', 'Crash Urgent'): 601,
 ('December_2017', 'FLEET ACC/ INJURY'): 2,
 ('December_2017', 'ICY ROADWAY'): 3,
 ('December_2017', 'LOOSE LIVESTOCK'): 43,
 ('December_2017', 'TRFC HAZD/ DEBRIS'): 144,
 ('December_2017', 'Traffic Hazard'): 765,
 ('December_2017', 'Traffic Impediment'): 172,
 ('December_2017', 'VEHICLE FIRE'): 5,
 ('December_2017', 'zSTALLED VEHICLE'): 102,
 ('February_2018', 'COLLISION'): 114,
 ('February_2018', 'COLLISION WITH INJURY'): 54,
 ('February_2018', 'COLLISION/PRIVATE PROPERTY'): 7,
 ('February_2018', 'COLLISN/ LVNG SCN'): 29,
 ('February_2018', 'Crash Service'): 273,
 ('February_2018', 'Crash Urgent'): 424,
 ('February_2018', 'LOOSE LIVESTOCK'): 30,
 ('February_2018', 'TRAFFIC FATALITY'): 1,
 ('February_2018', 'TRFC HAZD/ DEBRIS'): 95,
 ('February_2018', 'Traffic Hazard'): 514,
 ('February_2018', 'Traffic Impediment'): 175,
 ('February_2018', 'VEHICLE FIRE'): 4,
 ('February_2018', 'zSTALLED VEHICLE'): 77,
 ('January_2018', 'AUTO/ PED'): 1,
 ('January_2018', 'BLOCKED DRIV/ HWY'): 1,
 ('January_2018', 'COLLISION'): 158,
 ('January_2018', 'COLLISION WITH INJURY'): 86,
 ('January_2018', 'COLLISION/PRIVATE PROPERTY'): 9,
 ('January_2018', 'COLLISN/ LVNG SCN'): 41,
 ('January_2018', 'Crash Service'): 399,
 ('January_2018', 'Crash Urgent'): 685,
 ('January_2018', 'ICY ROADWAY'): 11,
 ('January_2018', 'LOOSE LIVESTOCK'): 36,
 ('January_2018', 'TRFC HAZD/ DEBRIS'): 157,
 ('January_2018', 'Traffic Hazard'): 903,
 ('January_2018', 'Traffic Impediment'): 205,
 ('January_2018', 'VEHICLE FIRE'): 6,
 ('January_2018', 'zSTALLED VEHICLE'): 118,
 ('March_2018', 'BLOCKED DRIV/ HWY'): 1,
 ('March_2018', 'COLLISION'): 37,
 ('March_2018', 'COLLISION WITH INJURY'): 29,
 ('March_2018', 'COLLISN/ LVNG SCN'): 18,
 ('March_2018', 'Crash Service'): 179,
 ('March_2018', 'Crash Urgent'): 250,
 ('March_2018', 'FLEET ACC/ INJURY'): 1,
 ('March_2018', 'LOOSE LIVESTOCK'): 27,
 ('March_2018', 'TRFC HAZD/ DEBRIS'): 60,
 ('March_2018', 'Traffic Hazard'): 313,
 ('March_2018', 'Traffic Impediment'): 82,
 ('March_2018', 'VEHICLE FIRE'): 4,
 ('March_2018', 'zSTALLED VEHICLE'): 50,
 ('November_2017', 'BLOCKED DRIV/ HWY'): 2,
 ('November_2017', 'COLLISION'): 138,
 ('November_2017', 'COLLISION WITH INJURY'): 52,
 ('November_2017', 'COLLISION/PRIVATE PROPERTY'): 9,
 ('November_2017', 'COLLISN/ LVNG SCN'): 35,
 ('November_2017', 'Crash Service'): 325,
 ('November_2017', 'Crash Urgent'): 445,
 ('November_2017', 'LOOSE LIVESTOCK'): 35,
 ('November_2017', 'TRFC HAZD/ DEBRIS'): 112,
 ('November_2017', 'Traffic Hazard'): 567,
 ('November_2017', 'Traffic Impediment'): 151,
 ('November_2017', 'VEHICLE FIRE'): 4,
 ('November_2017', 'zSTALLED VEHICLE'): 81,
 ('October_2017', 'BLOCKED DRIV/ HWY'): 2,
 ('October_2017', 'BOAT ACCIDENT'): 1,
 ('October_2017', 'COLLISION'): 94,
 ('October_2017', 'COLLISION WITH INJURY'): 61,
 ('October_2017', 'COLLISION/PRIVATE PROPERTY'): 2,
 ('October_2017', 'COLLISN/ LVNG SCN'): 26,
 ('October_2017', 'Crash Service'): 316,
 ('October_2017', 'Crash Urgent'): 395,
 ('October_2017', 'LOOSE LIVESTOCK'): 21,
 ('October_2017', 'TRAFFIC FATALITY'): 1,
 ('October_2017', 'TRFC HAZD/ DEBRIS'): 94,
 ('October_2017', 'Traffic Hazard'): 534,
 ('October_2017', 'Traffic Impediment'): 151,
 ('October_2017', 'VEHICLE FIRE'): 8,
 ('October_2017', 'zSTALLED VEHICLE'): 67}

In [134]:
# def get_data(input):
#     if df['incident_type'] == input

In [133]:
# def get_data():
#    start = request.args.get('start', default = 00000000, type = int)
#    end = request.args.get('end', default = 99999999, type = int)
#    incident_type = request.args.get('type', default = '*', type = str)
#    incident_type_lookup=incident_type.upper()
#    if incident_type=='*':
#        df=pd.read_csv("DataSources/traffic_data_clean.csv")
#        output = df.dropna()  
#        json = output.reset_index(drop=True).to_json(orient="records")
#        return(json)  
#    else:
#        df =pd.read_csv("DataSources/traffic_data_clean.csv")
#        data = df.dropna()
#        for i in range(0,len(data)):
#            data['Issue Reported'].replace(to_replace=data['Issue Reported'].iloc[i],value=data['Issue Reported'].iloc[i].upper(),inplace=True)
#        data=data[data['Issue Reported']==incident_type_lookup]
#        output=data[(data['Published Date as Integer']>=int(start)) & (data['Published Date as Integer']<=int(end))]
#        json = output.reset_index(drop=True).to_json(orient="records")
#        return(json)